<h1 class="my-5">Login</h1>
<form action="/login" method="POST" class="my-5">
    <div>
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required placeholder="Enter Email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-primary mt-4">Login</button>
</form>

<a href="/register">Dont't have an Account?Register</a>